@media (pointer: coarse) {
    #menu-container{
        opacity: 1;
    }
    #main{
        opacity: 1;
    }
    #info{
        opacity: 1;
    }
    #holt{
        opacity: 1;
    }
    .menus{
        opacity: 1;
    }
    #end{
        opacity: 1;
    }
    #links{
        opacity: 1;
    }
}