@media (min-width: 768px) {
    @keyframes slideIn--left {
        0% {
            opacity: 0;
            left: -75px;
        }
        80% {opacity: 1;}
        100% {
            left: 0px;
        }
    }

    @keyframes slideIn--right {
        0% {
            opacity: 0;
            right: -75px;
        }
        80% {opacity: 1;}
        100% {
            right: 0px;
        }
    }

    @keyframes slideIn--up {
        0% {
            opacity: 0;
            bottom: -75px;
        }
        80% {opacity: 1;}
        100% {
            bottom: 0px;
        }
    }
}