---
const { frontmatter } = Astro.props;

import Title from '../../comp/title.astro'
import Image from '../../comp/image.astro'

import Layout from '../full.astro'
---
<Layout desc={ frontmatter.desc } title={ frontmatter.title }>
	<contents>
		<Title
			
			/>
		<Image />
		<main>
			<div class="fullcontent">
				<p>
					- { frontmatter.upDate } - { frontmatter.title } -<br>
					- { frontmatter.desc } -<br>
					-written on { frontmatter.writeDate }-
				</p>
			</div>
            <div class="parent">
                <div class="child" style="display: block;">
                    <slot />
                </div>
                <div class="child" style="display: block;">
                    <script src="https://giscus.app/client.js"
        				data-repo="roxcelic/web-home"
        				data-repo-id="R_kgDOL6k6bA"
        				data-category="General"
        				data-category-id="DIC_kwDOL6k6bM4Cfc-n"
        				data-mapping="url"
        				data-strict="0"
        				data-reactions-enabled="1"
        				data-emit-metadata="0"
        				data-input-position="top"
        				data-theme="noborder_gray"
        				data-lang="en"
        				crossorigin="anonymous"
        				async />
                </div>
            </div>
		</main>
	</contents>
</Layout>