$primary-color: white;
$background-color: black;

$text-alighn: center;
$font: "Pixelify Sans", sans-serif;
$font-size: medium;
$transition: all ease-in-out 0.3s;

$box-width: 100px;
$box-height: 50px;