@import 'variables';
@import 'fonts';

html {
    background-color: $background-color;
    font-family: $font;
    font-size: $font-size;
    color: $primary-color;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: $transition;
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    text-align: center;
    padding: 0;
    margin: 0;
}

a {
    transition: transform 0.3s ease;
    text-align: center;
    color: white;
}

a:hover {
    transform: rotate(360deg);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
    transition: all ease-in-out 0.15s;
}