@import 'variables';
@import 'fonts';

html {
    background-color: $background-color;
    text-align: $text-alighn;
    font-family: $font;
    font-size: $font-size;
    color: $primary-color;

    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: $transition;

    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
}
a {
    transition: transform 0.3s ease;
}
a:hover{
    transform: rotate(360deg);
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}