@import 'variables';

#box {
    overflow: hidden;
    margin: auto;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#player {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.box-cas {
    position: relative;
    min-width: $box-width;
    height: $box-height;
    background-color: pink;
    margin: 5px;
    transition: all ease-in-out 0.3s;
    top: 0px;
    right: 0px;
}

#walkman {
    width: $box-width;
    height: $box-height;
    background-color: transparent;
    border: 3px solid yellow;
    margin: 20px 0; /* Add some margin for spacing */
}
#content {
    width: 30vw;
    height: 22vh;
    background-color: transparent;
    margin: 20px 0;
}
.red {
    width: 30vw;
    height: 22vh;
    opacity: 0;
    transition: all ease-in-out 0.3s;
    position: absolute;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}
.red::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(
        0deg,
        rgba(255, 0, 0, 0.2) 0px,
        rgba(255, 0, 0, 0.2) 1px,
        rgba(0, 255, 0, 0.2) 1px,
        rgba(0, 255, 0, 0.2) 2px,
        rgba(0, 0, 255, 0.2) 2px,
        rgba(0, 0, 255, 0.2) 3px
    );
    background-size: 100% 10px; /* Adjust the size to change line density */
    mix-blend-mode: screen;
    z-index: 2;
    pointer-events: none;
}

#parent {
    display: none;
    position: fixed;
    bottom: 10;
    width: 50vw;
    margin: 25vw;
    display: block;
    justify-content: space-between;
    background-color: lightgray;
    flex-wrap: wrap;
  }
  
  #parent .child {
    min-width: 20vw;
    display: none;
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}
  
@media (pointer: coarse) {
    #parent {
        display: flex;
    }
    #parent .child {
        display: block;
    }
}