// the light theme

@media (prefers-color-scheme: light) {
    :root{
        --global_text_color: rgb(255, 255, 255);
        
        --content_block_background: rgb(0, 242, 255);
        --content_block_border: yellow;

        --wallpaper: url('https://w.wallhaven.cc/full/ne/wallhaven-neoxo8.png');
    }
}