---
import Layout from '../layouts/404.astro';
---
<Layout title="404" desc='are you lost?'>
    the page:
    <a id="lonk"><p id="link2" /></a>
    doesnt exist<br>
    are you lost?<br>
    would you like to go <a href="//">home?</a>

    <p style="font-size: x-small;">if your on desktop try typing ;3</p>
    <p style="font-size: xx-small;">pressing enter clears it</p>

    <div class="bar" id="holt2"/>
    <p id="text" />
    <p>---</p>
    <p id="text2" />
</Layout>
<script is:inline>
    document.getElementById('lonk').setAttribute('href', window.location.href);

    document.getElementById("link2").innerHTML = window.location.href; 
    let text = document.getElementById("text");
    let text2 = document.getElementById("text2");
    console.log(window.location.href);

    function myKeyPress(e) {
        if (e.key === "Enter") {
            text.textContent = "";
        } else if (e.key === "Backspace") {
            text.textContent = text.textContent.slice(0, -1);
        } else {
            if (e.key.match(/^[a-zA-Z]$/) || e.key.match(" ") || e.key.charCodeAt(0) >= 33 && e.key.charCodeAt(0) <= 64 || e.key.charCodeAt(0) >= 91 && e.key.charCodeAt(0) <= 126){
                text.textContent += e.key;
            }
        }
        if (text.textContent == "roxie is so hot"){text2.textContent = "you know it ;)"}
        else if (text.textContent == "god i wanna tap that"){text2.textContent = "why dont you"}
        else if (text.textContent == "i wanna die"){text2.textContent = "dont please"}
        else if (text.textContent == "ahhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh"){text2.textContent = "shhhh"}
        else if (text.textContent == "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"){text2.textContent = "shut it"}
        else if (text.textContent == "im gonna download twitter"){text2.textContent = "ew"}
        else if (text.textContent == "love you"){text2.textContent = "awwwwwwwwww"}
        else if (text.textContent == "'some funny thing'"){text2.textContent = "'some funny reply'"}
        else if (text.textContent == "will you add more?"){text2.textContent = "ofc. dont worry"}
        else if (text.textContent == "hehehehehehehehehehehehehehehehehehehehehehehehehehehehehehehehehe"){text2.textContent = "what is wrong with you????"}
        else (text2.textContent = "")
    }
</script>