---
import Link from '../comp/link.astro';
const allPosts = await Astro.glob('../pages/posts/*md');
import Layout from '../layouts/main.astro';
---
<Layout title="blog" desc='ill just be using this to vent :3'>
    haha, im only joking. Ill keep yall informed of my silly and fun activities i do all the time<br><br>
    (i dont do much i get distractedreally fast)<br><br>
    but anyways, ENJOY!<br>
    <p style="font-size: xx-small;">blow are links :P</p>
    {allPosts.map((post) => <Link url={post.url} title={post.frontmatter.title} dates={post.frontmatter.pubDate} desc={post.frontmatter.desc} />)}
</Layout>