---
import Layout from '../layouts/astro/main.astro'
import Link from '../comp/link.astro';

import { getSortedPosts } from '../lib/posts';
const posts = getSortedPosts();
---
<Layout desc='Im total not gonna just use this page to vent...' title='blog'>
    <h2>Hey!</h2>
    <p style="margin-bottom: 5vh;">
        Welcome to my blog!<br>
        Here, I will post some very stupid and silly things for y'all to see!
    </p>
    <p>
        For more important blog layouts, I'll use one that resembles the main page,
        but for just random fun things, it'll be more of a blank layout. Simple and fun.
    </p>
    <div style="display: inline-block; width:80%;">
        {posts.map((post) => <Link url={post.url} title={post.title} dates={post.upDate} writeDate={ post.writeDate } desc={post.desc} />)}
    </div>
</Layout>