---
import Layout from '../layouts/full.astro'
import Hfa from '../comp/hf.astro'
---
<Layout desc='my nerd page..' title='hyperfixations'>
    <div class="top" style="animation: none;">
        <div id="menu-container">
            <div id="menu">
                <p><a href="/">home</a></p>
                <p>|</p>
                <p><a href="/blog/">blog</a></p>
                <p>|</p>
                <p><a href="/hf/">fun!</a></p>
                <p>|</p>
                <p><a href="/roxie/">roxie</a></p>
            </div>
            <div class="bar" id="holt2"/>
        </div>
    </div>

    <h3 style="text-align: center;">Below is a set of my hyperfixations, click on them! <3<br>-----</h3>
    <p style="font-size: small;text-align: center;">These images are embedded using OneDrive, so you may need to refresh for the desired effect.</p>
    <div style="margin-bottom: 10vh;text-align: center;">
        <Hfa
            url="background-image: url('https://onedrive.live.com/embed?resid=3A227222AA79EEC4%21126303&authkey=%21AAcMjZsU8B46JbM&height=256');"
            func="press('el1-1','el1-2')"
            id2="el1-1"
            id3="el1-2"
            text="goosebumps"
            text2="I just really liked the show as a kid and never stopped."
        />
        <Hfa
            url="background-image: url('https://onedrive.live.com/embed?resid=3A227222AA79EEC4%21126304&authkey=%21AOTzdRMpw4CfRp8&width=256');"
            func="press('el2-1','el2-2')"
            id2="el2-1"
            id3="el2-2"
            text="pokemon"
            text2="Who doesn't like Pokémon?"
        />
        <Hfa
            url="background-image: url('https://onedrive.live.com/embed?resid=3A227222AA79EEC4%21126305&authkey=%21AGlCsCJP4XhPrRo&width=256');"
            func="press('el3-1','el3-2')"
            id2="el3-1"
            id3="el3-2"
            text="deathnote"
            text2="A world without light would be pretty dark."
        />
        <Hfa
            url="background-image: url('https://onedrive.live.com/embed?resid=3A227222AA79EEC4%21126306&authkey=%21AOkNxZrw3bnI-xU&width=256');"
            func="press('el4-1','el4-2')"
            id2="el4-1"
            id3="el4-2"
            text="overwatch"
            text2="I don't know myself."
        />
        <Hfa
            url="background-image: url('https://onedrive.live.com/embed?resid=3A227222AA79EEC4%21126307&authkey=%21AEVCW0TQ72ZpcIc&width=256');"
            func="press('el5-1','el5-2')"
            id2="el5-1"
            id3="el5-2"
            text="stardew vally"
            text2="I got really into it at the end of the lockdown."
        />
        <Hfa
            url="background-image: url('https://onedrive.live.com/embed?resid=3A227222AA79EEC4%21126308&authkey=%21AAw3ZUEVBN4ouVc&width=256');"
            func="press('el6-1','el6-2')"
            id2="el6-1"
            id3="el6-2"
            text="celeste"
            text2="This game means a lot to me; it's helped me through a lot."
        />
        <Hfa
            url="background-image: url('https://onedrive.live.com/embed?resid=3A227222AA79EEC4%21126309&authkey=%21AEImqMlQv2LSSdY&width=256');"
            func="press('el7-1','el7-2')"
            id2="el7-1"
            id3="el7-2"
            text="terraria"
            text2="I didn't do much as a child except play this and Pokémon."
        />
        <Hfa
            url="background-image: url('https://onedrive.live.com/embed?resid=3A227222AA79EEC4%21126310&authkey=%21AHHx9WIVLNihLQk&width=256');"
            func="press('el8-1','el8-2')"
            id2="el8-1"
            id3="el8-2"
            text="minecraft"
            text2="2020"
        />
        <Hfa
            url="background-image: url('https://onedrive.live.com/embed?resid=3A227222AA79EEC4%21126311&authkey=%21AAfjeSU-cAv98DE&width=256');"
            func="press('el9-1','el9-2')"
            id2="el9-1"
            id3="el9-2"
            text="chainsaw man"
            text2="It's just a really good show that I think everyone should watch."
        />
        <Hfa
            url="background-image: url('https://onedrive.live.com/embed?resid=3A227222AA79EEC4%21126312&authkey=%21AEPdvuDW4HwD87c&width=256');"
            func="press('el10-1','el10-2')"
            id2="el10-1"
            id3="el10-2"
            text="scott pilgrim"
            text2="Hello again, friend of a friend."
        />
        <Hfa
            url="background-image: url('https://onedrive.live.com/embed?resid=3A227222AA79EEC4%21126313&authkey=%21ANgCQxo8YkbbQyI&width=256');"
            func="press('el11-1','el11-2')"
            id2="el11-1"
            id3="el11-2"
            text="boy with uke"
            text2="His songs are really good, and his concert was the best thing ever."
        />
        <Hfa
            url="background-image: url('https://onedrive.live.com/embed?resid=3A227222AA79EEC4%21126314&authkey=%21AIShMikDZEAy4Y4&width=256');"
            func="press('el12-1','el12-2')"
            id2="el12-1"
            id3="el12-2"
            text="rare americans"
            text2="Their arch-rival is common Europeans"
        />
    </div>
</Layout>