---
import Layout from '../layouts/full.astro';
import Card from '../comp/hidden.astro';
---
<Layout desc="hi" title='hi'>
	<h1 id="title-text">
		hi
	</h1>
	<div id="box">
		<div id="player">
			<div class="box-cas" id="casette_1">
				<p>
					funnnn
				</p>
			</div>
			<div class="box-cas" id="casette_2">
				<p>
					home
				</p>
			</div>
			<div class="box-cas" id="casette_3">
				<p>
					about me
				</p>
			</div>
		</div>
		<div id="walkman" />
		<div id="content">
			<div id="content_1">
				<div class="red" style="background-color: green;">
					hey<br>
					im supposed to be pixleated?
				</div>
				<div class="red" style="background-color: blue;"/>				
			</div>
			<div id="content_2">
				<div class="red" style="background-color: yellow;"/>
				<div class="red" style="background-color: blue;"/>				
			</div>
			<div id="content_3">
				<div class="red" style="background-color: pink;"/>
				<div class="red" style="background-color: blue;"/>				
			</div>
		</div>
	</div>
	<div id="parent">
		<div class="child" id="touch_up">up</div>
		<div class="child" id="touch_down">down</div>
		<div class="child" id="touch_left">left</div>
		<div class="child" id="touch_right">right
		</div>
	  </div>
	  
</Layout>