---
import Layout from '../layouts/astro/main.astro';
---
<Layout desc='jo' title='oj'>
    <h2 style="width: 100%;text-align: center;" id="title"/>
    <div id="holder">
        <div class="box"><p style="display: none;">home1</p></div>
        <div class="box"><p style="display: none;">home2</p></div>
        <div class="box"><p style="display: none;">home3</p></div>
        <div class="box"><p style="display: none;">home4</p></div>
        <div class="box"><p style="display: none;">home5</p></div>
        <div class="box"><p style="display: none;">home6</p></div>
    </div>
    <p style="width: 100%;text-align: center;" id="counter"/>
    <div class="box" id="player">
        <div class="box display">
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="box display">
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="box display">
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="box display">
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="box display">
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="box display">
            <div class="box content"/>
            <div class="box content"/>
        </div>
    </div>
</Layout>