---
import Layout from '../layouts/astro/main.astro';
---
<Layout desc='jo' title='oj'>
    <div id="info">
        [false,0,0]
    </div>
    <div id="holder">
        <div class="box">
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="box">
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="box">
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="box">
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="box">
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="box">
            <div class="box content"/>
            <div class="box content"/>
        </div>
    </div>
    <div class="box" id="player">

    </div>
</Layout>