---
import Layout from '../layouts/astro/main.astro';
---
<Layout desc='jo' title='oj'>
    <h2 style="width: 100%;text-align: center;" id="title"/>
    <h3 style="width: 100%;text-align: center;margin-bottom: 2.5vh;" id="status">loading..</h3>
    <div id="holder">
        <div class="cas"><p>home1</p></div>
        <div class="cas"><p>home2</p></div>
        <div class="cas"><p>home3</p></div>
        <div class="cas"><p>home5</p></div>
        <div class="cas"><p>blog</p><a href="https://blog.roxcelic.love"></a></div>
    </div>
    <!--ready-->
    <div class="box" id="player"/>
    <!--?-->
    <p style="width: 100%;text-align: center;" id="counter"/>
    <!--ready-->
    <div class="box" id="player2">
    <!--?-->
        <div class="display">
            <div class="box content"/>
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="display">
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="display">
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="display">
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="display">
            <div class="box content"/>
            <div class="box content"/>
        </div>
        <div class="display">
            <div class="box content">
                <p>why are you seeing this?</p>
            </div>
            <div class="box content">
                <p>really you shouldnt be here ):</p>
            </div>
        </div>
    </div>
</Layout>