---
import Layout from '../layouts/full.astro';
import Spotify from '../comp/spotify.astro';
import Keys from '../comp/keys.astro';
import Aboutme from '../comp/aboutme.astro';

---
<Layout desc="Welcome to my internet hidy hole" title='home'>
	<script src="../res/js/script" />
	<div id="canMove" style="display: none;">True</div>
	<div id="box">
		<h1 id="title-text" style="width:100%;text-align: center;">
			loading..
		</h1>
		<h4 id="status" style="">
			loading..
		</h4>
		<div id="player">
			<div class="box-cas" id="casette_1"><p>music</p></div>
			<div class="box-cas" id="casette_2"><p>socials</p></div>
			<div class="box-cas" id="casette_3"><p>home</p></div>	
			<div class="box-cas" id="casette_4"><p>fedi</p></div>
			<div class="box-cas" id="casette_5"><p>blog</p><a href="https://blog.roxcelic.love"/></div>
		</div>
		<div id="walkman" />
		<div id="content" class="size">
			<p id="content-view" style="opacity: 0;" />
			<div id="content_1">
				<Spotify />
			</div>

			<div id="content_2">
				<Aboutme/>
			</div>
			<div id="content_3">
				<div class="red">
					<h1>Hiii,</h1>
					<p>
						If you're here, you must have at least heard of me, right? Well, if you haven't, I'm a weirdo who spends her time doing morally questionable things with computers—less in the "bad bad" morally questionable and more in the "why the `%$£%` are you doing this" questionable. For example, I made a Python and JS terminal thing (which is mostly dead now) just because—the Python one even had plugins!<br>
					</p>
				</div>
				<div class="red">
					<p>
						Enough about me, behold me!<br>
						So, I'm a 16-year-old gal who is, what I like to joke, a `technomancer` (yes, I stole that from Regular Show; what are you gonna do?) Despite the name, I'm actually really good at breaking tech—just check out my A12 for that, lmao. I use she/they pronouns, and I'm aiming to get into a game development college sometime in the near future. Yeah, it's kinda scary that I'm going to college, but it was bound to happen eventually, right? Anyways...	
					</p>
					<h2>
						ENJOY	
					</h2>	
				</div>		
				<div class="red">
					<h2>credits</h2>
					<p>
						me<br><br>
						the celeste development team for some assets used
					</p>
				</div>
				<div class="red">
					<p>If you have any issues, please report them here or dm me</p>
					<script src="https://giscus.app/client.js"
        				data-repo="roxcelic/web-home"
        				data-repo-id="R_kgDOL6k6bA"
        				data-category="General"
        				data-category-id="DIC_kwDOL6k6bM4Cfc-n"
        				data-mapping="url"
        				data-strict="0"
        				data-reactions-enabled="1"
        				data-emit-metadata="0"
        				data-input-position="top"
        				data-theme="https://files.roxcelic.love/themes/gis.css"
        				data-lang="en"
        				crossorigin="anonymous"
        				async />	
				</div>	
			</div>
			<div id="content_4">
				<div class="red">
					<div class="pfp_block">
						<span class="material-symbols-outlined">
							link
						</span>
					</div>
					<p>
						<a href="https://fedi.roxcelic.love">My posts can also be seen on my fedi!</a>
					</p>
				</div>
			</div>
			<div id="content_5">
			</div>
		</div>
	</div>
	<Keys />
</Layout>