---
import Layout from '../layouts/full.astro';
import Card from '../comp/hidden.astro';
---
<Layout desc="hi" title='hi'>
	<h1>
		hi
	</h1>
	<div id="box">
		<div id="player">
			<div class="box-cas" id="casette_1">
				<div class="hidden"></div>
			</div>
			<div class="box-cas" id="casette_2">
				<div class="hidden"></div>
			</div>
			<div class="box-cas" id="casette_3">
				<div class="hidden"></div>
			</div>
		</div>
		<div id="walkman" />
	</div>
</Layout>