---
import Layout from '../layouts/full.astro'

import Title from '../comp/title.astro'
import Image from '../comp/image.astro'
---
<Layout desc='all about me yeah all about me!' title='roxie'>
    <contents>
        <Title
        
            />
        <Image />
        <main>
            <div class="parent">
                <div class="child" style="display:block;">
                    <h1>about me</h1>
                    <p>
                        I'm Roxie, a 16-year-old developer of sorts. I don't really specialize in anything.
                        If you asked me a while ago, I'd probably have said game dev, but I've been spending a lot of time
                        making websites recently, and I'd like to think I've gotten really good at that. I'm not the best at people-ing
                        for any matter, but I try, and if for whatever reason you'd like to talk to me, feel free to reach out to me on
                        one of my social medias!
                    </p>
                </div>
                <div class="child" style="display:block;">
                    <h1>more about me</h1>
                    <p>pronouns: she/they</p>
                    <p>name: roxie</p>
                    <p>age: 16</p>
                    <p>hobbies: I eat nintendo 2ds xls</p>
                    <p>I drink monster: I drink monster</p>
                    <p>eevee is a really cute pokemon: True</p>
                </div>
                <div class="child" style="display:block;">
                    <h1>my socials</h1>
                    <p>
                        <a href="https://discord.com">discord - roxcelic</a><br>
                        <a href="https://github.com/roxcelic">github - roxcelic</a><br>
                        <a href="https://pin.it/By7qa8ImI">pinterest - roxcelic</a><br>
                        <a href="https://stats.fm/roxangel">stats fm - roxangel</a><br>
                        <a href="https://twitter.com/_roxangel_">twitter - _roxangel_</a><br>
                        <a href="https://www.tumblr.com/roxcelic">tumblr - roxcelic</a><br>
                        <a href="https://www.instagram.com/_roxangel_/">instgram - _roxangel_</a><br>
                        <a href="https://open.spotify.com/user/onyc3nppnjac08vatfd8uulav?si=3798eba02c524532">spotify - roxie</a><br>
                        fedi - @roxcelic@fedi.on-a-ps4.lol<br>
                        email - roxie@roxcelic.love
                    </p>
                </div>                
            </div>
        </main>
    </contents>
</Layout>