---
interface Props {
	title: string;
    desc: string;
    text_align: string;
}

const { desc="desc", title="home", text_align="left" } = Astro.props;

import Layout from '../full.astro';
import Music from '../../comp/music.astro';
import Personal from '../../comp/personal.astro';
import NavBar from '../../comp/navBar.astro';
---

<Layout desc={desc} title={title}>
	<div id="main">
        <div id="left">
            <Music />
            <div id="leftbutton">
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
            </div>
        </div>
        <div id="middle">
            <NavBar />
            <div class="main_block" style={`text-align: ${text_align};`}>
                <slot />
            </div>
        </div>
        <div id="right">
            <Personal />
            <div id="rightbutton">
                <span class="material-symbols-outlined">
                    arrow_back_ios
                </span>
            </div>
        </div>
    </div>	
</Layout>
