<div class="red">
    <div class="pfp_block">
        <span class="material-symbols-outlined">
            link
        </span>
    </div>
    <p>
        <a href="https://discord.com/">
            discord • roxcelic
        </a>
    </p>
</div>
<div class="red">
    <div class="pfp_block">
        <span class="material-symbols-outlined">
            link
        </span>
    </div>
    <p>
        <a href="https://github.com/roxcelic">
            github • roxcelic
        </a>
    </p>
</div>
<div class="red">
    <div class="pfp_block">
        <span class="material-symbols-outlined">
            link
        </span>
    </div>
    <p>
        <a href="https://pin.it/By7qa8ImI">
            pinterest • roxcelic
        </a>
    </p>
</div>
<div class="red">
    <div class="pfp_block">
        <span class="material-symbols-outlined">
            link
        </span>
    </div>
    <p>
        <a href="https://stats.fm/roxangel">
            stats fm • roxangel
        </a>
    </p>
</div>
<div class="red">
    <div class="pfp_block">
        <span class="material-symbols-outlined">
            link
        </span>
    </div>
    <p>
        <a href="https://twitter.com/_roxangel_">
            twitter • _roxangel_
        </a>
    </p>
</div>
<div class="red">
    <div class="pfp_block">
        <span class="material-symbols-outlined">
            link
        </span>
    </div>
    <p>
        <a href="https://www.tumblr.com/roxcelic">
            tumblr • roxcelic
        </a>
    </p>
</div>
<div class="red">
    <div class="pfp_block">
        <span class="material-symbols-outlined">
            link
        </span>
    </div>
    <p>
        <a href="https://www.instagram.com/_roxangel_/">
            instagram • _roxangel_
        </a>
    </p>
</div>
<div class="red">
    <div class="pfp_block">
        <span class="material-symbols-outlined">
            link
        </span>
    </div>
    <p>
        <a href="https://www.last.fm/user/roxcelic">
            lastfm • roxcelic
        </a>
    </p>
</div>