---
---
<div class="box content">
    <div class="pfp_block">
        <span class="material-symbols-outlined">
            link
        </span>
    </div>
    <p>
        <a href="https://fedi.roxcelic.love">My posts can also be seen on my fedi!</a>
    </p>
</div>