<footer>
    <p style="font-size: small;">
        thank you for visiting my website, please have a look at my friends' websites ^^
    </p>
    <div class="blocks">
        <div class="pixleated">
            <a href="https://marsh.zone">
                <img src="https://marsh.zone/images/88x31.png" alt="marsh">
            </a>
            <a href="https://roxcelic.love">
                <img src="../../88-31.png" alt="roxie">
            </a>
        </div>
    </div>
</footer>
