---
---
<div class="box content">
    <h1>Hiii,</h1>
    <p>
        If you're here, you must have at least heard of me, right? Well, if you haven't, I'm a weirdo who spends her time doing morally questionable things with computers—less in the "bad bad" morally questionable and more in the "why the `%$£%` are you doing this" questionable. For example, I made a Python and JS terminal thing (which is mostly dead now) just because—the Python one even had plugins!<br>
    </p>
</div>
<div class="box content">
    <p>
        Enough about me, behold me!<br>
        So, I'm a 16-year-old gal who is, what I like to joke, a `technomancer` (yes, I stole that from Regular Show; what are you gonna do?) Despite the name, I'm actually really good at breaking tech—just check out my A12 for that, lmao. I use she/they pronouns, and I'm aiming to get into a game development college sometime in the near future. Yeah, it's kinda scary that I'm going to college, but it was bound to happen eventually, right? Anyways...	
    </p>
    <h2>
        ENJOY	
    </h2>
</div>
<div class="box content">
    <h2>credits</h2>
        <p>
        me<br><br>
        the celeste development team for some assets used
    </p>
</div>
<div class="box content">
    <p>If you have any issues, please report them here or dm me</p>
    <script src="https://giscus.app/client.js"
        data-repo="roxcelic/web-home"
        data-repo-id="R_kgDOL6k6bA"
        data-category="General"
        data-category-id="DIC_kwDOL6k6bM4Cfc-n"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="https://files.roxcelic.love/themes/gis.css"
        data-lang="en"
        crossorigin="anonymous"
        async />
</div>