---
---
<div class="box content">
    <h2>
        hey,
    </h2>
    <p>
        Im roxie a 16 year old game developer. I do make a variety of works though, and this website is one of my most passionate creations. I am really proud of verison 3.5 because it combines both game development and webdesign so i finnaly have a website that feels like me.
    </p>
</div>
<div class="box content">
    <h2>credits</h2>
        <p>
        me<br><br>
        the celeste development team for some assets used
    </p>
</div>
<div class="box content">
    <p>If you have any issues, please report them here or dm me</p>
    <script src="https://giscus.app/client.js"
        data-repo="roxcelic/web-home"
        data-repo-id="R_kgDOL6k6bA"
        data-category="General"
        data-category-id="DIC_kwDOL6k6bM4Cfc-n"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="https://files.roxcelic.love/themes/gis.css"
        data-lang="en"
        crossorigin="anonymous"
        async />
</div>