---
const { title, url, dates, writeDate, desc } = Astro.props;
---
<div class="lineline" />
<p>
    - {dates} - {title} -<br>
    - {desc} -
</p>
<a href={url} style="margin-bottom: 1vh;">click here to visit</a>