---

---
<div id="musical">
    <div class="block">
        <h2 id="music--title">title</h2>
        <div id="music--cover"/>
        <h3 id="music--album">album name</h3>
        <h3 id="music--artist">artist(s) name</h3>

        <p id="loading-bar-timer">00:00/00:00</p>
        <div id="loading-bar-container">
            <div id="loading-bar"></div>
        </div>
    </div>

    <div class="block mobile_hide">
        <iframe id="music--artist--embed" style="border-radius:12px" width="100%" height="352" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
</div>
<div id="personal2">
    <div class="block mobile_hide" id="bluesky_profile">

        <h3>bluesky</h3>

        <a id="bsky_url">
            <div class="profile">

                <div class="banner" id="bsky_banner">
                    <div class="pfp" id="bsky_pfp"/>
                </div>

                <h2 id="bsky_displayname">hi</h2>
                <h4 id="bsky_username">hi</h4>
                <h5 id="bsky_description" style="color:var(--global_text_color)">hi</h5>

            </div>
        </a>
    </div>
    <div class="block r mobile_hide">

        <h3>github</h3>

        <a id="github_url">
            <div class="profile">

                <div class="banner" id="github_banner">
                    <div class="pfp" id="github_pfp"/>
                </div>

                <h2 id="github_displayname">hi</h2>
                <h4 id="github_username">hi</h4>
                <h5 id="github_description" style="color:var(--global_text_color)">hi</h5>

            </div>
        </a>
    </div>
</div>