<div class="top">
    <div id="menu-container">
        <div id="menu">
            <p><a href="/">home</a></p>
            <p>|</p>
            <p><a href="https://blog.roxcelic.love/blog/">blog</a></p>
            <p>|</p>
            <p><a href="/hf/">fun!</a></p>
            <p>|</p>
            <p><a href="/roxie/">roxie</a></p>
        </div>
        <div class="bar" id="holt2"/>
    </div>
</div>