---
import Layout from '../../layouts/main.astro';
---

<Layout title="a js terminal" desc="a javascript terminal i made, it works similarly to the python script">
    <p>this doesnt work on mobile devices</p>
    <p>if you would like a cleanre example go to <a href="https://dev.roxcelic.love/js/example.html">here</a></p>
    <script
        style="text-align: left;" 
        is:inline 
        src="https://dev.roxcelic.love/js/index.js" 
        id="tester"
        width="100%"
        height="25vh"
        box-height="2.5vh"
        padding-base="5vh"
        padding-alt="2.5vh"
        link="https://roxcelic.love/projects/js" /> 
</Layout>