---
const { frontmatter } = Astro.props;

import Menu from '../comp/bar.astro'
import SideBar from '../comp/sidemenu.astro'

import '../res/style.css'
import '../res/base.css'
import '../res/media.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={frontmatter.desc}/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="https://roxcelic.love/images/icon.png">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Jersey+20&family=Pixelify+Sans&display=swap" rel="stylesheet">


		<meta name="generator" content={Astro.generator} />
		<title id="title">{frontmatter.title}</title>
	</head>
    <body id="text-c">
		<SideBar />
        <Menu/>
		<div id="info">
			<p style="margin-bottom: 16vh;">{frontmatter.desc}</p>
		</div>
		<div id="main">
			<slot/>
		</div>
		<div id="holt">
			<div class="bar" id="holt2"/>
		</div>
		<div id="end">made by roxie for your entertainment &lt;3</div>
    </body>
</html>
